@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat),Arial, Helvetica, sans-serif;
}

/* Custom scroll style */
.scrollbox::-webkit-scrollbar {
  width: 8px;
}
.scrollbox::-webkit-scrollbar-track {
  background: #e5e7eb; /* gray-200 */
  border-radius: 9999px;
}
.scrollbox::-webkit-scrollbar-thumb {
  background: #9ca3af; /* gray-400 */
  border-radius: 9999px;
}
.scrollbox::-webkit-scrollbar-thumb:hover {
  background: #f2b713; /* your yellow */
}
